body {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
	color: #777;
	background-color: #f9f8f7;
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}

header {
	width: 100%;
	height: 116px;
}

.list_nav .navigation {
	position: relative;
	font-size: 13px;
	color: #777;
	width: 665px;
	height: 116px;
	float: right;
}

.list_nav {
	max-width: 1080px;
	height: 116px;
	margin: 0 auto;
	padding: 0 20px;
}

.ubspot img {
	max-width: 100px;
}

.list_nav .ubspot {
	float: left;
	display: inline-block;
	margin-top: 64px;
}

ul {
	list-style: none;
	margin: 0;
}

ul li {
	font-size: 1em;
	color: #555;
	line-height: 1.6em;
}

.header_navigation .software ul {
	visibility: hidden;
}

.navigation .header_navigation .software:hover a {
	visibility: visible;	
}

.header_navigation .about .about_drop-down_list {
	visibility: hidden;
}

.header_navigation .blogs ul {
	visibility: hidden;
}

.navigation .second {
	background: #fff;
	border-bottom: 1px solid #555;
	margin: 0 auto;
	padding: 20px 0;
}

.header_navigation .blogs:hover ul {
	visibility: visible;
}

.navigation .languages_1 ul {
	visibility: hidden;
}

.navigation .search form {
	visibility: hidden;
}

.header_navigation .about:hover .about_drop-down_list{
	visibility: visible;
}

.header_navigation .blogs a:hover ,
.header_navigation .software a:hover,
.header_navigation .about a:hover,
.header_navigation .agencies a:hover,
.header_navigation .pricing a:hover {
	color: #f7751f;
}

.navigation .naver .sign_in {
	color: #f7751f;
}

.navigation .naver .sign_in:hover {
	text-decoration: underline;
}

.navigation .languages_1 .languages {
	background-image: url("http://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/icons/globe-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	width: 20px;
	height: 20px;
}

.navigation .search .search_main {
	cursor: pointer;
	background-image: url("http://cdn2.hubspot.net/hub/53/file-680128125-svg/assets/hubspot.com/V2-Global/v2-search-icon-dark.svg");
	background-position: 5px center;
	background-repeat: no-repeat;
	width: 0px;
	padding: 0px;
	padding-left: 30px;
}

.naver {
	padding-top: 15px;
	float: right;
}

.naver li {
	padding: 0 8px;
}

.navigation .header_navigation ul li {
	margin: 0;
	padding: 0;
	display: table-cell;
	text-align: center;
}

.list_nav .navigation ul li {
	display: table-cell;
}

.list_nav .navigation .header_navigation {
	padding: 0;
	margin: 0;
	display: table;
	float: right;
}	

.list_nav .header_navigation a {
	display: inline-block;
	position: relative;
	color: #555;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 15px;

}

}
.list_nav .navigation .header_navigation li {
	padding: 0px;
	margin: 0px;
	display: table;
}

.navigation .one {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	background: #3b3f3f;
	box-shadow: 0 5px 10px -5px #111;
	padding: 27px 0;
	z-index: -55;
}
.navigation .about_drop-down_list{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	background: #3b3f3f;
 	box-shadow: 0 5px 10px -5px #111;	
	padding: 27px 0;
	z-index: -55;
}
.navigation .second {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	background: #3b3f3f;
	box-shadow: 0 5px 10px -5px #111;
	padding: 27px 0;
	z-index: -55;
}

.navigation .free_trial a {
	background: #1da1db;
	color: #fff;
	text-align: center;
	border: 3px solid;
	border-color: #1da1db;
	border-radius: 5px;
	margin: 15px 0 15px 15px;
	padding: 11px 15px;
	width: 97px;
	height: 19px;
}

.navigation .free_trial:hover a {
	background: #1780ae;
	color: #fff;
	border-color: #1780ae;
}
/* main */

main .how_to_write_an_ebook {
	background-image: url(http://cdn2.hubspot.net/hubfs/53/LandingPages_Hero.jpg?t=1461526102984);
	height: 485px;
	padding-bottom: 85px;
}

.how_to_write_an_ebook {
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.fon_second .ebook {
	position: relative;
	background: #f9f8f7;
	max-width: 625px;
	margin: -85px auto 0 auto;
	padding: 30px 30px 0;
	z-index: 1;
}

.how_to_write_an_ebook .ebook_block {
	margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.how_to_write_an_ebook .ebook_block h1 {
	color: #fff;
	margin: 0 auto 15px auto;

}
h1 {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

h1, h2, h3, h4, h5 {
	line-height: 1.25em;
}

.how_to_write_an_ebook .ebook_block p {
	color: #fff;
    font-family: "KlinicSlabBook",serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin: 30px auto;
}

.how_to_write_an_ebook .ebook_block .build_a_landing_page {
	padding: 17px 40px;
	background: rgba(29,161,219,0.8);
	border: 3px solid #1da1db;
	color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.9px;
    text-align: center;
    display: inline-block;
    line-height: 1.5em;
    margin: 10px;
}

.how_to_write_an_ebook .ebook_block .build_a_landing_page:hover{
	border: 3px solid #1b96cc;
	background: #1b96cc;
}

.fon_second {
	position: relative;
}

.fon_second .ebook img {
	display: block;
	box-shadow: 0 -3px 30px 0 rgba(121,121,121,0.5);
	max-width: 100%;
}

.fon_second .ebook .create_beautiful_landing_pages_in_seconds {
	top: 135px;
	left: 0;
	transform: matrix(1, 0, 0, 1, -220, 0);
	text-align: right;
	border-right: 1px solid #e0e0e0;
	padding-right: 15px;
	position: absolute;
	font-size: 16px;
}

.fon_second .ebook .create_beautiful_landing_pages_in_seconds h4,
.fon_second .ebook .integrate_forms_and_calls h4 {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.85px;
	line-height: 25.5px;
	text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
    color: rgb(85, 85, 85);

}

.fon_second .ebook .create_beautiful_landing_pages_in_seconds p,
.fon_second .ebook .integrate_forms_and_calls p {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 25.6px;
	color: #797979;

}
.fon_second .ebook .integrate_forms_and_calls {
	right: 0;
	bottom: 50px;
	transform: matrix(1, 0, 0, 1, 220, 0);
	position: absolute;
	border-left: 1px solid #e0e0e0;
	padding-left: 15px;
}

.tour {
	background: #0f434c;
	height: 178px;
	padding: 1px 40px;
}

.tour .quick_tour {
	display: table;
	margin: 35px auto 40px auto;
} 

.tour .quick_tour p {
	color: #fff;
	font-size: 16px;
	line-height: 25.6px;
	display: table-cell;
    width: 490px;
    vertical-align: middle;
    padding: 1px 22px;
}

.tour .button_tour {
	border: 3px solid #1da1db;
	background: #1da1db;
	color: #fff;
	padding: 16px 40px;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.9px;
	display: inline-block;
	text-align: center;
	margin: 20px
}

.tour .button_tour:hover {
	background: rgba(29,161,219,0.8);
}

.so_what_makes_us_different {
	padding: 50px 0 20px 0;
	text-align: center;
	background-color: #fff;
}

.so_what_makes_us_different h2 {
	line-height: 42px;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 0.07em;
	color: rgb(85, 85, 85);
}

.make_content_more_personal {
	width: 100%;
	padding: 10px 0;
	background: #fff;
}

.make_content_more_personal .content_block_personal {
	max-width: 949px;
	padding: 0 20px;
	margin: 0 auto;

}
.content_pivblock,
.optimized_search,
.funnel_your {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.content_personal,
.integrated_with_your_funnel, 
.optimized_integrated {
	text-align: center;
	height: 176px;
	overflow: hidden;
	padding: 25px 10px 0 10px;
	margin: 0 auto;
	position: relative;
}

.content_personal img,
.integrated_with_your_funnel img, 
.optimized_integrated img {
	max-height: 148px;
	max-width: 155px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.landing_pages_are,
.personal,
.ranking_page {
	padding: 24px 30px 15px 30px;
	margin: 0 auto;
	position: relative;
}

.landing_pages_are h3,
.personal h3,
.ranking_page h3 {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	text-align: center;
} 

.landing_page {
	background-color: #fff;
	overflow: hidden;
	padding: 0 20px;
}

.button_langing_page {
	display: table;
	margin: 20px auto 50px auto;
	max-width: 735px;
}

.landing_page .button_langing_page .create_a_landing_page {
	background: #1da1db;
	border: 3px solid #1da1db;
	color: #fff;
	padding: 14px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.9px;
    text-align: center;
    display: inline-block;
}

.landing_page .button_langing_page .create_a_landing_page:hover {
	background: #1b96cc;
	border: 3px solid #1b96cc;
	color: #fff;
}
